.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

table, th, td {
    border: 1px solid #242424;
}

.meditation,
.workout,
.study,
.linkedin {
    display: none;
}

.day-result-input {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(0.2rem);
    z-index: 1;
}

form {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--primary-color);
    position: absolute;
    max-width: 400px;
    background-color: var(--secondary-color);
    top: 30%;
    left: 30%;
}

.show {
    display: flex;
}